<% if typhoon_recorder.present? %>
  <tr>
    <th>中心风力</th>
    <td><%= typhoon_recorder["max_wind"]%>级</td>
  </tr>
  <tr>
    <th>七级风圈</th>
    <td><%= typhoon_recorder["seven_radius"] %>km</td>
  </tr>
  <tr>
    <th>十级风圈</th>
    <td><%= typhoon_recorder["ten_radius"] %>km</td>
  </tr>
<% else %>
  <tr>
    <th>中心风力</th>
    <td>暂无数据</td>
  </tr>
  <tr>
    <th>七级风圈</th>
    <td>暂无数据</td>
  </tr>
  <tr>
    <th>十级风圈</th>
    <td>暂无数据</td>
  </tr>
<% end %>
<div class="dataArray" data-url=<%= typhoon_recorders.to_json %>></div>
<div class="data" data-url=<%= typhoon_recorder.to_json %>></div>
<% content_for :scripts do %>
  <%= javascript_include_tag baidu_api(ENV['baidukey']), 'data-turbolinks-track' => false %>
  <%= javascript_include_tag "http://api.map.baidu.com/library/Heatmap/2.0/src/Heatmap_min.js", 'data-turbolinks-track' => false %>
  <%= javascript_include_tag "http://api.map.baidu.com/library/CurveLine/1.5/src/CurveLine.min.js", 'data-turbolinks-track' => false %>

  <script type="text/javascript">
    //初始化地图
    var recorders = $(".dataArray").data('url');
    var recorder = $(".data").data('url');

    var map = new BMap.Map("allmap");
    var mapPoint = new BMap.Point(116.2317, 39.5427);
    map.centerAndZoom(mapPoint, 5);  // 初始化地图,设置中心点坐标和地图级别
    map.enableScrollWheelZoom();  //开启鼠标滚轮缩放

    //台风路径画
    var image = "http://7xj8j2.com1.z0.glb.clouddn.com/iconfont-taifenglujing03.gif"
    var myIcon = new BMap.Icon(image, new BMap.Size(30,30));
    var point = new BMap.Point(recorder.lon, recorder.lat);
    var marker2 = new BMap.Marker(point,{icon:myIcon});  // 创建标注
    map.addOverlay(marker2);

    var points = new Array();
    for(var i=0; i < recorders.length; i++) {
      var pt = new BMap.Point(recorders[i].lon, recorders[i].lat);
      points.push(pt);
    }
    var curve = new BMapLib.CurveLine(points, {strokeColor:"#eb5405", strokeWeight:4, strokeOpacity:0}); //创建弧线对象
    map.addOverlay(curve); //添加到地图中

    //根据台风坐标创建圆形
    for(var i = 0; i < points.length; i++) {
      c_point = new BMap.Point(points[i].lng, points[i].lat);
      var circle = new BMap.Circle(new BMap.Point(points[i].lng, points[i].lat), 20000, {strokeColor: "#666", strokeWeight: 3, strokeOpacity: 0.5});
      map.addOverlay(circle);
    }

    $('#typhoonid').change(function(){
      $.ajax({
        url: "/importants/get_typhoon",
        type: 'GET',
        data: {typhoonid: $(this).val()}
      })
    });

    //模态框响应
    function searchModal(){
      $(".modal-bg").show(300);
      $(".modal-content").show(300);
    }
    function shutModal() {
      $(".modal-bg").hide();
      $(".modal-content").hide();
    }

    //风险防范措施模态框
    $(".riskBtn").click(function(){
      searchModal();
    });
    $('.shutDown').click(function(e){
      shutModal();
    });

    //风险防范措施按钮宽度等于降水信息宽度
    var b_width = $(".typhoonInfo").width() + "px";
    $(".riskBtn").css("width", b_width);

    //台风示意图显示隐藏
    $(".warning-btn").click(function(e){
      $(".typhoon-list").slideToggle();
      if($(this).css("bottom") == "230px") {
        $(this).animate({"bottom": "60px"});
      } else {
        $(this).animate({"bottom": "230px"});
      }
    })

    //地图的高度等于屏幕的高度
    var c_Height=($(document).height() - 111) + "px";
    $(".mapbar").css("height",c_Height);
  </script>
<% end %>