<div class="modal-title"><%= unit %>预警信息</div>
<div class="modal-body">
  <% if @area_warning_data.present? %>
    <% @area_warning_data[0..2].each do |data|%>
      <div class="modalContent">
        <div class="leftContent text-center">
          <%= image_tag(Weather.get_image_pic(data['type'], data['level'])) %>
        </div>
        <div class="rightContent">
          <h3><%= data['type'] %>&nbsp;<%= data['level'] %>预警</h3>
          <p><%= data['content'] %></p>
        </div>
      </div>
    <% end %>
  <% else %>
    <p class="alert text-center">该区域暂时无预警信息</p>
  <% end %>
</div>