<%= content_for :tabbar do %>
  <div class="tabContent">
    <%= link_to importants_path, class: "active br" do %>
      预警信号
    <% end %>
    <%= link_to future_importants_path, class: "br" do %>
      未来降雨
    <% end %>
    <%= link_to routing_importants_path do %>
      台风路径
    <% end %>
  </div>
<% end %>

<div class="mainContent">
  <div class="topBar">
    <section>
      <%= image_tag("baoyu.gif") %>
      <p class="title">全市黄色暴雨预警</p>
      <p>我市北部地区已出现50毫米以上降水，且将持续，预计今天白天到夜间，我是仍将出现局部超过50毫米的降水，请注意防范。</p>
    </section>
    <section>
      <%= image_tag("taifeng.gif") %>
      <p class="title">全市黄色暴雨预警</p>
      <p>我市北部地区已出现50毫米以上降水，且将持续，预计今天白天到夜间，我是仍将出现局部超过50毫米的降水，请注意防范。</p>
    </section>
    <section>
      <%= image_tag("dafeng.gif") %>
      <p class="title">全市黄色暴雨预警</p>
      <p>我市北部地区已出现50毫米以上降水，且将持续，预计今天白天到夜间，我是仍将出现局部超过50毫米的降水，请注意防范。</p>
    </section>
  </div>

  <div class="mainMap">
    <%= image_tag("shanghai.gif", usemap: "#planetmap") %>
  </div>
</div>