<%= content_for :tabbar do %>
  <div class="tabContent">
    <%= link_to importants_path, class: "active br" do %>
      预警信号
    <% end %>
    <%= link_to future_importants_path, class: "br" do %>
      未来降雨
    <% end %>
    <%= link_to routing_importants_path do %>
      台风路径
    <% end %>
  </div>
<% end %>

<div class="mainContent">
  <div class="topBar">
    <% if @warning_data.present? %>
      <% @warning_data.each do |warning|%>
        <section>
          <%= image_tag(Weather.get_image_pic(data['type'], data['level'])) %>
          <p><%= data['type'] %></p>
          <p><%= data['content'] %></p>
        </section>
      <% end %>
    <% else %>
      <p class="alert text-center">全市暂时无预警信息</p>
    <% end %>
  </div>

  <div class="mainMap">
    <%= image_tag("shanghai.gif") %>
  </div>
</div>