<% content_for :title do %>
  重要天气
<% end %>

<%= content_for :tabbar do %>
  <div class="tabContent">
    <%= link_to importants_path, class: "active br" do %>
      预警信号
    <% end %>
    <%= link_to future_importants_path, class: "br" do %>
      未来降雨
    <% end %>
    <%= link_to routing_importants_path do %>
      台风路径
    <% end %>
  </div>
<% end %>

<div class="mainContent">
  <div class="topBar">
    <% if @warning_data.present? %>
      <% @warning_data[0..2].each do |data|%>
        <section>
          <%= image_tag(Weather.get_image_pic(data['type'], data['level'])) %>
        </section>
      <% end %>
    <% else %>
      <p class="alert text-center">全市暂时无预警信息</p>
    <% end %>
  </div>

  <div class="mainMap">
    <% jiading_warnings = Weather.get_area_warning_data("嘉定")['data'] %>
    <% if jiading_warnings.present? %>
      <div class="areaWarning jiading">
        <% jiading_warnings[0..1].each do |data|%>
          <%= image_tag(Weather.get_image_pic(data['type'], data['level']), class: "image") %>
        <% end %>
       </div>
    <% end %>

    <% baoshan_warnings = Weather.get_area_warning_data("宝山")['data'] %>
    <% if baoshan_warnings.present? %>
      <div class="areaWarning baoshan">
        <% baoshan_warnings[0..1].each do |data|%>
          <%= image_tag(Weather.get_image_pic(data['type'], data['level']), class: "image") %>
        <% end %>
       </div>
    <% end %>

    <% chongming_warnings = Weather.get_area_warning_data("崇明")['data'] %>
    <% if chongming_warnings.present? %>
      <div class="areaWarning chongming">
        <% chongming_warnings[0..1].each do |data|%>
          <%= image_tag(Weather.get_image_pic(data['type'], data['level']), class: "image") %>
        <% end %>
       </div>
    <% end %>

    <% shanghai_warnings = Weather.get_warning_data['data'] %>
    <% if shanghai_warnings.present? %>
      <div class="areaWarning shanghai">
        <% shanghai_warnings[0..1].each do |data|%>
          <%= image_tag(Weather.get_image_pic(data['type'], data['level']), class: "image") %>
        <% end %>
       </div>
    <% end %>

    <% pudong_warnings = Weather.get_area_warning_data("浦东")['data'] %>
    <% if pudong_warnings.present? %>
      <div class="areaWarning pudong">
        <% pudong_warnings[0..1].each do |data|%>
          <%= image_tag(Weather.get_image_pic(data['type'], data['level']), class: "image") %>
        <% end %>
       </div>
    <% end %>

    <% minhang_warnings = Weather.get_area_warning_data("闵行")['data'] %>
    <% if minhang_warnings.present? %>
      <div class="areaWarning minhang">
        <% minhang_warnings[0..1].each do |data|%>
          <%= image_tag(Weather.get_image_pic(data['type'], data['level']), class: "image") %>
        <% end %>
       </div>
    <% end %>

    <% fengxian_warnings = Weather.get_area_warning_data("奉贤")['data'] %>
    <% if fengxian_warnings.present? %>
      <div class="areaWarning fengxian">
        <% fengxian_warnings[0..1].each do |data|%>
          <%= image_tag(Weather.get_image_pic(data['type'], data['level']), class: "image") %>
        <% end %>
       </div>
    <% end %>

    <% songjiang_warnings = Weather.get_area_warning_data("松江")['data'] %>
    <% if songjiang_warnings.present? %>
      <div class="areaWarning songjiang">
        <% songjiang_warnings[0..1].each do |data|%>
          <%= image_tag(Weather.get_image_pic(data['type'], data['level']), class: "image") %>
        <% end %>
       </div>
    <% end %>
    <% jinshan_warnings = Weather.get_area_warning_data("金山")['data'] %>
    <% if jinshan_warnings.present? %>
      <div class="areaWarning pudong">
        <% jinshan_warnings[0..1].each do |data|%>
          <%= image_tag(Weather.get_image_pic(data['type'], data['level']), class: "image") %>
        <% end %>
       </div>
    <% end %>
    <% qingpu_warnings = Weather.get_area_warning_data("青浦")['data'] %>
    <% if qingpu_warnings.present? %>
      <div class="areaWarning pudong">
        <% qingpu_warnings[0..1].each do |data|%>
          <%= image_tag(Weather.get_image_pic(data['type'], data['level']), class: "image") %>
        <% end %>
       </div>
    <% end %>

    <%= image_tag("shanghai-bg.gif", usemap: "#areamap", style: "width: 980;") %>
    <map name="areamap" id="areamap" data-url=<%= get_by_unit_importants_path %>>
      <!-- 嘉定区 -->
      <area shape="rect" coords="260,90,400,300"  nohref="nohref" alt="嘉定" />
      <!-- 崇明岛 -->
      <area shape="rect" coords="557,74,843,190"  nohref="nohref" alt="崇明" />
      <!-- 宝山区 -->
      <area shape="rect" coords="428,110,548,260"  nohref="nohref" alt="宝山" />
      <!-- 市区 -->
      <area shape="rect" coords="500,280,837,400"  nohref="nohref" alt="上海" />
      <!-- 浦东新区 -->
      <area shape="rect" coords="638,380,963,523"  nohref="nohref" alt="浦东" />
      <!-- 奉贤区 -->
      <area shape="rect" coords="460,530,774,645"  nohref="nohref" alt="奉贤" />
      <!-- 闵行区 -->
      <area shape="rect" coords="430,412,606,510"  nohref="nohref" alt="闵行" />
      <!-- 松江区 -->
      <area shape="rect" coords="235,426,420,570"  nohref="nohref" alt="松江" />
      <!-- 金山区 -->
      <area shape="rect" coords="160,600,470,760"  nohref="nohref" alt="金山" />
      <!-- 青浦区 -->
      <area shape="rect" coords="20,280,220,520"  nohref="nohref" alt="青浦" />
    </map>
  </div>
</div>

<!-- 模态框 -->
<div class="modal-bg"></div>
<div class="modal-content">
  <%= render partial: "get_by_unit", locals: {unit: "上海"} %>
</div>

<% content_for :scripts do %>
  <%= javascript_include_tag "jquery.rwdImageMaps.min" %>
  <script type="text/javascript">
    $(document).ready(function(e) {
      $('img[usemap]').rwdImageMaps();
      var url = $("map").data('url');
      $('area').on('click', function(e) {
        $.ajax({
          type: "GET",
          url: url,
          data: {unit: $(this).attr("alt")}
        })
      });

      $('body').click(function(e){
        $(".modal-bg").hide();
        $(".modal-content").hide();
        e.stopPropagation();
      });
    });
  </script>
<% end %>