<% content_for :title do %>
  台风路径
<% end %>

<%= render "tabbar"%>

<div class="mapbar">
  <div id="allmap"></div>
</div>

<div class="typhoonInfo">
  <div class="typhoon-info">
    <table>
      <tr>
        <th>台风名称</th>
        <td>
          <div class="select">
            <%= select_tag "typhoonid", options_for_select(@typhoons_data.collect{|v| [v['cnname'].present? ? v['cnname'] : v['enname'] , v['typhoonid']]})%>
          </div>
        </td>
      </tr>
    </table>
    <table id="data">
      <%= render partial: "data", locals: {typhoon_recorder: @typhoon_recorder, typhoon_recorders: @typhoon_recorders}%>
    </table>
  </div>
  <%= link_to "javascript:void(0);", class: "riskBtn" do %>
    <span>风险防范措施</span>
    <%= image_tag("hand.png")%>
  <% end %>
</div>

<!-- 模态框 -->
<div class="modal-bg"></div>
<div class="modal-content">
  <div class="modal-title">风险预防措施</div>
  <div class="modal-body">
    <div class="text-center">内容未定</div>
  </div>
</div>

<!-- 台风预警标示 -->
<%= render "typhoon_symbol"%>

<style type="text/css">
  .mapbar {
    margin-top: 55px;
    width: 100%;
  }
  #allmap {
    width: 100%;
    height: 100%;
  }
</style>