<table>
  <tr>
    <th class="text-left">温度</th>
    <td id="tempe"><%= @scene_weather['tempe']%></td>
  </tr>
  <tr>
    <th class="text-left">气压</th>
    <td id="pressure"><%= @city_data['pressure']%></td>
  </tr>
  <tr>
    <th class="text-left">风力</th>
    <td id="wind"><%= @city_data['wind_direction']%></td>
  </tr>
  <tr>
    <th class="text-left">能见度</th>
    <td id="visibility"><%= @city_data['visibility']%></td>
  </tr>
  <tr>
    <th class="text-left">及时雨量</th>
    <td id="visibility"><%= @city_data['visibility']%></td>
  </tr>
</table>