<table>
  <tr>
    <th>温度</th>
    <td id="tempe"><%= @scene_weather['tempe']%></td>
  </tr>
  <tr>
    <th>气压</th>
    <td id="pressure"><%= @city_data['pressure']%></td>
  </tr>
  <tr>
    <th>风力</th>
    <td id="wind"><%= @city_data['wind_direction']%></td>
  </tr>
  <tr>
    <th>能见度</th>
    <td id="visibility"><%= @city_data['visibility']%></td>
  </tr>
  <tr>
    <th>及时雨量</th>
    <td id="visibility"><%= @city_data['visibility']%></td>
  </tr>
</table>