<% content_for :title do %>
  天气信息
<% end %>

<div class="topbar">
  <div class="title">上海中心气象台<%= @now %>发布</div>
  <div class="weather-logo">
    <%= image_tag Weather.get_weather_icons(@weather_info_first["weatherpic"])['pic'][0] %>
    <h3><%= @weather_info_first["weather"] %></h3>
  </div>
  <div class="weather-info">
    <ul>
      <li>
        <%= image_tag("svg/wendu.svg")%>
        <span><%= @weather_info_first["tempe"] %></span>
      </li>
      <li>
        <%= image_tag("svg/wind.svg")%>
        <span><%= @weather_info_first["direction"] %><%= @weather_info_first["speed"] %></span>
      </li>
      <li>
        <%= image_tag("aqi.png")%>
        <span><%= @aqi_info['aqi']%></span>
        <span class=<%= aqi_level[@aqi_info['level']]%>><%= @aqi_info['level']%></span>
      </li>
      <li>
       <%= image_tag("svg/car.svg")%>
       <span><%= @life_info %></span>
      </li>
    </ul>
  </div>
</div>

<div class="weather-list">
  <ul>
    <% @weather_info.each_with_index do |weather, index|%>
      <!-- 此处背景要使用奇偶变色 -->
      <% if index.odd? %>
        <li>
      <% else %>
        <li class="bg">
      <% end %>
        <p><%= weather["datatime"] %></p>
        <p><%= get_weekday weather["datatime"] %></p>
        <%= image_tag(Weather.get_weather_icons(weather["weatherpic"])['active_pic'][0])%>
        <p><%= weather["weather"][0..3] %></p>
        <p><%= weather["tempe"] %></p>
      </li>
    <% end %>
  </ul>
</div>