<div class="logo">
  <%= image_tag("logo.png")%>
</div>

<ul class="result">
  <li>
    <%= image_tag("svg/dizhi.svg")%>
    <span>上海虹桥机场</span>
  </li>
  <li>
    <%= image_tag("svg/xingxing.svg")%>
    <span>气象理赔证明</span>
  </li>
  <li>
    <%= image_tag("svg/shizhong.svg")%>
    <span>2015-6-6 17:00 ~ 2015-6-7 23:00</span>
  </li>
  <li>
    <%= image_tag("svg/yu.svg")%>
    <span>每小时最大降雨233mm</span>
  </li>
  <li>
    <%= image_tag("svg/yu.svg")%>
    <span>每12小时最大降雨233mm</span>
  </li>
  <li>
    <%= image_tag("svg/yu.svg")%>
    <span>每24小时最大降雨233mm</span>
  </li>
</ul>
<hr>

<div class="tips">
  <p><span>暴雨标准：</span><br>指每小时降雨量达16毫米以上，或连续12小时降雨量达30毫米以上，或连续24小时降雨量达50毫米以上的降雨。</p>
</div>
